<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @picture.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @picture.description %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @picture.rating %>
</p>
<p>
  <strong>Image:</strong>
  <%= image_tag(@picture.image_url, width: 600) if @picture.image.present? %>
</p>
<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
